.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding-top: 100px;
  background-color: #d9e7ff;
}

.reservation__title {
  font-family: "Inter", sans-serif;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  text-align: center;
  max-width: 385px;
  font-size: 44px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  margin-bottom: 60px;
}
