.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
.noto-serif p {
  font-family: "Noto Serif", "Times New Roman", serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

.header {
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 100hv;
  width: 100hv;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.header__content {
  max-width: 1280px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 128px;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
  width: 100%;
  height: auto;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex end;
  justify-content: space-between;
}

.header__footer-schedlue {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__footer-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__footer-text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
  text-align: right;
  font-size: 14px;
}

.header__logo img {
  max-height: 40px;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
}
